In [1]:
import numpy as np

In [2]:
import warnings 
warnings.filterwarnings("ignore")

import fix_yahoo_finance as yf 
yf.pdr_override()

In [3]:
symbol = 'AMD'
start = '2016-01-01'
end = '2020-06-30'

dataset = yf.download(symbol,start,end)

dataset.head()

[*********************100%***********************]  1 of 1 downloaded

            Open  High   Low  Close  Adj Close    Volume
Date
2016-01-04  2.77  2.82  2.63   2.77       2.77  32516800
2016-01-05  2.77  2.80  2.64   2.75       2.75  12972300
2016-01-06  2.66  2.71  2.47   2.51       2.51  23759400
2016-01-07  2.43  2.48  2.26   2.28       2.28  22203500
2016-01-08  2.36  2.42  2.10   2.14       2.14  31822400

In [4]:
df = dataset.drop(['High','Low','Close','Volume'],axis=1)

In [5]:
df.head()

            Open  Adj Close
Date
2016-01-04  2.77       2.77
2016-01-05  2.77       2.75
2016-01-06  2.66       2.51
2016-01-07  2.43       2.28
2016-01-08  2.36       2.14

In [6]:
A = np.array(df)
A

array([[ 2.77,  2.77],
       [ 2.77,  2.75],
       [ 2.66,  2.51],
       ...,
       [52.56, 51.93],
       [51.85, 50.1 ],
       [50.15, 50.28]])

In [7]:
print("A=",A)
print("A[1]=",A[1])
print("A[1][2]=",A[1][1])
print("A[0][-1]=",A[0][-1])

A= [[ 2.77  2.77]
 [ 2.77  2.75]
 [ 2.66  2.51]
 ...
 [52.56 51.93]
 [51.85 50.1 ]
 [50.15 50.28]]
A[1]= [2.77 2.75]
A[1][2]= 2.75
A[0][-1]= 2.77

In [8]:
column = [];
for row in A:
    column.append(row[1])

print("Second Column=", column)

Second Column= [2.77, 2.75, 2.51, 2.28, 2.14, 2.34, 2.39, 2.25, 2.21, 2.03, 1.95, 1.8, 2.09, 2.02, 2.12, 2.07, 2.13, 2.08, 2.2, 2.14, 1.99, 2.07, 2.09, 1.98, 1.93, 1.9, 1.84, 1.86, 1.83, 1.83, 1.9, 1.91, 1.91, 2.01, 1.97, 2.02, 2.03, 2.07, 2.14, 2.18, 2.32, 2.46, 2.37, 2.47, 2.3, 2.26, 2.26, 2.52, 2.72, 2.49, 2.63, 2.8, 2.93, 2.8, 2.79, 2.68, 2.79, 2.78, 2.86, 2.86, 2.85, 2.83, 2.83, 2.76, 2.8, 2.64, 2.74, 2.76, 2.81, 2.8, 2.72, 2.7, 2.76, 2.62, 2.7, 2.62, 3.99, 3.45, 3.66, 3.73, 3.61, 3.55, 3.74, 3.6, 3.6, 3.66, 3.68, 3.65, 3.64, 3.65, 3.59, 3.67, 3.79, 3.79, 3.84, 3.77, 3.87, 4.04, 4.2, 4.18, 4.35, 4.6, 4.57, 4.43, 4.24, 4.16, 4.47, 4.51, 4.46, 4.52, 4.32, 4.4, 4.39, 4.42, 4.75, 5.26, 5.1, 5.45, 5.02, 5.21, 4.88, 4.72, 5.12, 5.13, 5.14, 5.07, 4.96, 5.04, 5.02, 5.1, 5.01, 5.14, 5.09, 5.17, 5.14, 5.51, 5.41, 5.41, 5.22, 5.84, 6.7, 6.98, 6.85, 6.82, 6.86, 6.64, 6.26, 6.3, 6.47, 6.61, 6.68, 6.6, 6.49, 6.58, 6.73, 6.95, 6.78, 6.68, 7.04, 7.62, 7.58, 7.67, 7.43, 7.47, 7.67, 7.59, 7.49, 7.4, 7.35, 7.51, 7.34, 6.84, 6.23, 5.9, 5.94, 5.74, 6.04, 6.02, 6.05, 6.16, 6.17, 6.29, 6.37, 6.55, 6.32, 6.54, 6.59, 6.67, 6.91, 6.95, 6.97, 6.78, 6.96, 6.75, 6.84, 6.5, 6.62, 6.49, 6.75, 6.67, 6.73, 6.77, 6.96, 6.52, 7.01, 7.5, 7.29, 7.11, 7.2, 7.23, 7.09, 6.76, 6.7, 6.56, 6.96, 7.0, 6.94, 6.3, 6.69, 6.79, 6.97, 7.67, 8.46, 8.71, 8.94, 8.69, 8.8, 8.77, 8.83, 8.93, 8.91, 8.39, 8.53, 8.68, 9.45, 9.56, 10.34, 10.34, 10.68, 10.54, 10.55, 10.86, 10.66, 10.95, 11.51, 11.47, 11.6, 11.58, 12.07, 11.55, 11.59, 11.34, 11.43, 11.43, 11.24, 11.32, 11.49, 11.44, 11.2, 10.76, 10.58, 9.82, 9.88, 9.77, 9.75, 9.91, 10.44, 10.35, 10.52, 10.67, 10.61, 10.37, 12.06, 12.28, 12.24, 13.63, 13.29, 13.56, 13.42, 13.58, 13.49, 13.26, 13.3, 12.97, 13.13, 14.0, 14.28, 14.32, 14.12, 15.2, 14.46, 14.96, 13.9, 13.03, 13.04, 13.05, 13.22, 13.33, 13.91, 14.28, 14.1, 13.98, 13.65, 13.49, 14.4, 13.82, 14.1, 13.79, 13.7, 13.7, 13.69, 13.71, 14.05, 14.55, 14.64, 14.16, 14.17, 13.27, 13.52, 13.1, 13.1, 12.76, 12.31, 12.79, 12.95, 12.84, 13.11, 13.0, 13.13, 13.49, 13.41, 13.62, 13.3, 13.62, 10.32, 10.39, 10.1, 10.19, 10.04, 10.18, 10.79, 11.07, 11.26, 11.42, 12.75, 11.2, 11.28, 11.41, 11.04, 10.89, 10.89, 10.98, 11.0, 11.12, 11.19, 10.93, 10.9, 11.24, 12.03, 12.38, 12.9, 12.28, 12.09, 11.96, 11.77, 11.5, 11.44, 11.93, 12.64, 13.98, 14.38, 14.17, 14.08, 13.4, 13.23, 12.6, 12.48, 12.15, 13.19, 13.02, 13.36, 13.81, 13.89, 14.29, 13.53, 13.92, 13.8, 13.48, 13.55, 13.8, 13.88, 14.16, 14.11, 14.76, 14.12, 13.95, 13.61, 13.71, 13.37, 13.24, 13.12, 13.43, 13.11, 12.83, 12.12, 12.23, 12.76, 13.02, 12.63, 12.34, 12.37, 12.05, 12.17, 12.48, 12.5, 12.43, 12.23, 12.15, 12.67, 13.0, 13.19, 12.92, 12.86, 12.63, 12.25, 12.55, 12.3, 12.22, 12.26, 12.52, 13.08, 13.12, 13.74, 13.41, 13.3, 12.61, 12.45, 12.74, 12.74, 12.75, 12.71, 13.42, 13.31, 13.34, 13.23, 13.47, 13.7, 13.88, 14.2, 14.22, 14.26, 14.16, 14.07, 13.95, 13.81, 14.1, 14.25, 12.33, 12.01, 11.84, 10.89, 10.99, 10.8, 10.85, 11.12, 11.93, 12.05, 11.71, 11.12, 11.26, 11.09, 11.12, 11.07, 11.25, 11.38, 11.34, 11.4, 11.37, 11.38, 11.55, 11.17, 10.83, 10.89, 10.73, 10.03, 9.91, 10.0, 10.04, 9.94, 10.16, 9.9, 10.11, 10.13, 10.29, 10.98, 10.95, 10.98, 10.89, 10.54, 10.46, 10.53, 10.55, 10.28, 10.98, 11.55, 12.12, 11.88, 12.28, 11.82, 11.96, 12.14, 12.02, 11.91, 12.18, 12.47, 12.59, 12.65, 12.94, 12.71, 12.41, 12.95, 13.32, 12.87, 13.74, 13.25, 12.45, 11.57, 11.65, 11.6, 11.22, 11.31, 11.68, 11.78, 12.2, 12.19, 11.82, 12.02, 11.72, 11.84, 12.07, 12.42, 12.53, 12.11, 11.9, 11.81, 11.91, 11.76, 12.24, 11.97, 11.7, 11.52, 11.64, 11.36, 11.46, 11.47, 11.43, 11.11, 11.26, 10.91, 10.63, 10.44, 10.0, 9.81, 10.05, 9.53, 9.55, 9.77, 10.02, 9.61, 9.53, 9.98, 9.82, 10.08, 9.93, 10.09, 10.52, 10.36, 10.11, 9.99, 10.04, 10.09, 9.71, 11.04, 11.11, 10.88, 11.13, 10.97, 10.93, 11.28, 11.59, 11.61, 11.95, 12.13, 11.95, 12.23, 12.45, 12.82, 12.82, 13.0, 12.99, 12.98, 13.1, 13.41, 13.54, 13.36, 13.82, 13.73, 14.4, 14.85, 14.85, 15.67, 14.89, 15.25, 15.73, 15.85, 16.32, 16.25, 16.34, 17.11, 16.69, 16.52, 15.65, 15.8, 15.11, 15.5, 14.97, 15.31, 14.99, 15.16, 15.0, 15.5, 16.36, 16.61, 16.55, 16.27, 16.56, 16.27, 16.58, 16.87, 16.85, 16.71, 16.5, 16.66, 16.19, 16.05, 18.35, 18.94, 19.42, 18.33, 18.48, 18.79, 18.49, 19.43, 19.56, 19.58, 19.1, 19.06, 19.73, 20.02, 19.7, 19.33, 19.77, 19.98, 20.4, 20.9, 22.29, 23.98, 25.26, 25.05, 25.2, 24.89, 25.17, 28.06, 28.51, 27.84, 27.38, 29.89, 30.1, 32.21, 30.48, 32.72, 32.43, 31.93, 31.21, 31.18, 31.02, 32.61, 32.57, 32.19, 32.59, 30.89, 31.42, 29.02, 28.43, 27.78, 27.35, 26.46, 27.24, 25.0, 25.3, 26.34, 26.26, 28.18, 27.3, 26.62, 23.66, 25.03, 25.09, 22.79, 19.27, 17.63, 16.85, 17.2, 18.21, 20.22, 20.23, 19.9, 20.68, 21.84, 21.2, 21.03, 19.03, 19.61, 20.81, 21.49, 20.66, 19.11, 19.21, 18.73, 19.38, 20.08, 21.05, 21.34, 21.43, 21.3, 23.71, 21.12, 21.3, 19.46, 19.99, 19.98, 20.48, 19.86, 19.9, 18.83, 19.5, 18.16, 17.94, 16.93, 16.65, 17.9, 17.49, 17.82, 18.46, 18.83, 17.05, 19.0, 20.57, 20.75, 20.19, 19.74, 20.27, 20.23, 20.38, 19.73, 20.25, 20.77, 19.76, 19.8, 20.85, 21.93, 20.18, 19.25, 23.09, 24.41, 24.51, 24.13, 23.31, 23.26, 22.67, 23.05, 22.96, 22.82, 22.85, 23.13, 23.68, 23.95, 23.95, 23.92, 24.36, 24.71, 24.21, 23.48, 23.53, 23.68, 23.37, 23.5, 22.41, 22.08, 22.01, 22.96, 23.49, 23.38, 22.82, 23.29, 23.25, 26.0, 25.7, 27.89, 26.37, 25.97, 25.69, 24.89, 25.06, 25.52, 26.36, 26.75, 29.02, 29.09, 28.98, 28.53, 27.24, 27.83, 27.79, 27.85, 27.33, 27.93, 27.49, 27.68, 28.18, 27.97, 28.46, 27.66, 27.88, 27.69, 27.63, 26.81, 28.29, 28.22, 27.42, 26.66, 27.09, 27.21, 27.96, 26.24, 27.32, 27.58, 28.01, 27.5, 26.68, 27.35, 27.41, 26.36, 26.44, 29.05, 28.09, 28.03, 27.41, 27.58, 29.57, 29.5, 31.82, 32.41, 33.23, 32.41, 32.18, 31.39, 30.36, 29.2, 30.45, 30.5, 30.01, 29.1, 29.26, 28.86, 29.92, 30.74, 30.37, 31.2, 31.24, 31.19, 31.5, 32.04, 33.15, 33.79, 33.06, 33.21, 34.39, 33.85, 33.6, 33.0, 32.51, 32.85, 33.49, 34.11, 33.67, 34.02, 33.48, 33.87, 30.45, 29.86, 29.44, 27.99, 28.86, 29.19, 33.92, 34.19, 32.43, 32.11, 30.24, 29.67, 31.18, 31.48, 30.72, 31.7, 31.9, 29.54, 30.28, 30.2, 30.78, 31.45, 31.45, 30.9, 30.95, 31.5, 30.56, 30.5, 30.23, 29.76, 30.21, 30.69, 30.83, 30.99, 30.42, 30.29, 30.05, 30.64, 29.52, 29.54, 29.47, 28.72, 28.99, 28.76, 28.31, 28.68, 29.01, 28.93, 28.23, 28.46, 28.38, 29.75, 30.53, 30.72, 30.81, 31.14, 30.97, 32.03, 31.51, 31.36, 31.72, 32.71, 33.69, 33.03, 33.13, 33.93, 34.89, 36.29, 36.15, 35.93, 36.28, 36.29, 36.31, 36.71, 37.52, 38.35, 38.56, 39.88, 41.29, 40.98, 39.52, 39.15, 39.79, 38.99, 39.41, 39.15, 38.73, 38.9, 39.69, 39.62, 39.63, 38.93, 39.44, 39.47, 42.59, 41.15, 42.35, 42.77, 42.3, 42.83, 44.15, 45.46, 46.54, 46.63, 46.18, 45.52, 45.86, 49.1, 48.6, 48.39, 48.25, 47.83, 48.97, 48.17, 48.75, 48.21, 48.55, 49.77, 50.93, 51.05, 51.43, 51.71, 50.35, 49.26, 50.53, 47.51, 48.78, 47.0, 48.02, 49.45, 49.84, 49.32, 49.73, 52.26, 53.8, 53.89, 54.53, 55.31, 56.89, 58.9, 57.27, 53.28, 49.12, 47.57, 47.49, 44.01, 45.48, 47.46, 46.75, 50.11, 48.11, 48.59, 43.27, 45.38, 45.7, 39.01, 43.9, 38.71, 41.88, 39.12, 39.82, 39.61, 41.64, 46.22, 44.63, 47.5, 46.58, 47.86, 45.48, 43.66, 44.49, 42.59, 47.52, 47.56, 48.79, 48.38, 50.94, 54.93, 54.99, 56.95, 56.6, 56.97, 52.92, 55.92, 55.9, 56.18, 56.49, 55.51, 53.66, 52.39, 49.88, 52.56, 52.19, 52.16, 51.95, 53.19, 55.74, 53.76, 52.18, 54.51, 54.2, 54.59, 55.47, 56.39, 54.65, 55.17, 53.19, 52.74, 51.74, 53.8, 53.63, 53.54, 52.73, 52.63, 53.1, 52.97, 56.39, 57.44, 52.83, 53.5, 54.68, 54.46, 54.55, 54.04, 54.23, 54.76, 53.99, 52.39, 51.93, 50.1, 50.28]

In [9]:
type(A)

numpy.ndarray

In [10]:
A = np.arange(4)
print('A =',A)

B = np.arange(12).reshape(2,6)
print('B =',B)

A = [0 1 2 3]
B = [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]

In [11]:
A = np.array(dataset['High'], dataset['Low'])
B = np.array(dataset['Open'], dataset['Close'])

In [12]:
C = A + B 
print("Addition Matrix: \n", C)

Addition Matrix:
 [  5.59   5.57   5.37 ... 105.26 103.8  100.43]

In [13]:
D = A - B
print("Subtraction Matrix: \n", D)

Subtraction Matrix:
 [0.05 0.03 0.05 ... 0.14 0.1  0.13]

In [14]:
E = A.dot(B)
print("Multiplication of Two Matrices: \n", E)

Multiplication of Two Matrices:
 700787.0945000001

In [15]:
T = A.transpose()
print("Transpose of a Matrix: \n", T)

Transpose of a Matrix:
 [ 2.82  2.8   2.71 ... 52.7  51.95 50.28]

In [16]:
print("A[0]=", A[0])
print("A[2]=",A[2])
print("A[-1]=",A[-1])

A[0]= 2.82
A[2]= 2.71
A[-1]= 50.28

In [17]:
A = np.array(dataset[['Open','Low','High','Close']])

print("Matrix of A:\n",A)

print("A[0][0] =", A[0][0])

print("A[1][2] =", A[1][2])

print("A[-1][-1] =", A[-1][-1])

Matrix of A:
 [[ 2.77  2.63  2.82  2.77]
 [ 2.77  2.64  2.8   2.75]
 [ 2.66  2.47  2.71  2.51]
 ...
 [52.56 50.54 52.7  51.93]
 [51.85 49.45 51.95 50.1 ]
 [50.15 48.42 50.28 50.28]]
A[0][0] = 2.77
A[1][2] = 2.8
A[-1][-1] = 50.28

In [18]:
print("A[0]=", A[0])
print("A[2]=",A[2])
print("A[-1]=",A[-1])

A[0]= [2.77 2.63 2.82 2.77]
A[2]= [2.66 2.47 2.71 2.51]
A[-1]= [50.15 48.42 50.28 50.28]

In [19]:
print("A[:,0]=",A[:,0])
print("A[:,3]=",A[:,3])
print("A[:,-1]=",A[:,-1])

A[:,0]= [ 2.77  2.77  2.66 ... 52.56 51.85 50.15]
A[:,3]= [ 2.77  2.75  2.51 ... 51.93 50.1  50.28]
A[:,-1]= [ 2.77  2.75  2.51 ... 51.93 50.1  50.28]

In [20]:
print(A[2:5])

[[2.66 2.47 2.71 2.51]
 [2.43 2.26 2.48 2.28]
 [2.36 2.1  2.42 2.14]]

In [21]:
print(A[:-5])

[[ 2.77  2.63  2.82  2.77]
 [ 2.77  2.64  2.8   2.75]
 [ 2.66  2.47  2.71  2.51]
 ...
 [54.62 53.65 55.12 54.04]
 [54.41 53.82 55.46 54.23]
 [54.67 53.74 55.17 54.76]]

In [22]:
print(A[5:])

[[ 2.16  2.12  2.36  2.34]
 [ 2.4   2.28  2.46  2.39]
 [ 2.4   2.21  2.45  2.25]
 ...
 [52.56 50.54 52.7  51.93]
 [51.85 49.45 51.95 50.1 ]
 [50.15 48.42 50.28 50.28]]

In [23]:
print(A[:])

[[ 2.77  2.63  2.82  2.77]
 [ 2.77  2.64  2.8   2.75]
 [ 2.66  2.47  2.71  2.51]
 ...
 [52.56 50.54 52.7  51.93]
 [51.85 49.45 51.95 50.1 ]
 [50.15 48.42 50.28 50.28]]

In [24]:
print(A[::-1])

[[50.15 48.42 50.28 50.28]
 [51.85 49.45 51.95 50.1 ]
 [52.56 50.54 52.7  51.93]
 ...
 [ 2.66  2.47  2.71  2.51]
 [ 2.77  2.64  2.8   2.75]
 [ 2.77  2.63  2.82  2.77]]

In [25]:
print(A[:2,:4])

[[2.77 2.63 2.82 2.77]
 [2.77 2.64 2.8  2.75]]

In [26]:
print(A[:1,])

[[2.77 2.63 2.82 2.77]]

In [27]:
print(A[:,2])

[ 2.82  2.8   2.71 ... 52.7  51.95 50.28]

In [28]:
print(A[:,2:5])

[[ 2.82  2.77]
 [ 2.8   2.75]
 [ 2.71  2.51]
 ...
 [52.7  51.93]
 [51.95 50.1 ]
 [50.28 50.28]]